<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto</title>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  <h1>Detalhes desse projetos</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris maximus facilisis tortor in aliquam. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis urna auctor, sodales lectus a, convallis mi. Nulla interdum nisi eget porta aliquam. Fusce tincidunt elementum ex et ultricies. Maecenas dapibus augue metus, consectetur fermentum eros elementum non. Pellentesque augue arcu, tristique vel posuere tempor, dapibus id nibh. Phasellus tellus urna, hendrerit vitae aliquet vel, luctus at nisi. Maecenas sit amet quam vel odio dapibus pretium. Cras ornare, mauris a consectetur gravida, velit mi ornare justo, quis tempor neque arcu consequat lorem. Sed tristique diam metus, at scelerisque massa luctus et. Nullam vulputate neque vitae enim pharetra, non consectetur purus mollis. Suspendisse potenti. Duis lectus nisi, dignissim fringilla vehicula a, venenatis a dui.</p>
</body>
</html>